.taskContainer {
  background-color: #909cc2;
}
.task {
  background-color: #fffad6;
}
.task-completed {
  background-color: lightgray;
}
.home {
  background: linear-gradient(0deg, #fffded 70%, #483c46 50%);
}
.addButton {
  background-color: #69995d;
}
